page-surrender {
    
    .card-background{
        background-color: inherit !important;
        color: rgb(50, 97, 149)  !important;
    }
    .color {
        color: rgb(50, 97, 149)  !important; 
      }
      .alert-message{
          overflow: hidden !important;
      }
}
